*{
    margin: 0;
    padding: 0;
}

img{
    width: 20%;
    border: 1px solid black;
    padding: 2px;
    box-sizing: border-box;
}

main{
    display: flex;
    background: #dff3ed;
}

.article{
    width: 80%;
    border: solid;
    margin: 3px;
    text-align: center;
}



nav {
    background-color: #056868;
}

ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style:none;
}

a{
    text-decoration: none;
    color: black;
}

li{
    color: rgba(0, 0, 0, 0.64);
}

.resp{
    width: 10%;
    border: 1px solid black;
    padding: 2px;
    box-sizing: border-box;
    float: right;
}

footer{
    height: 50px;
    background: #056868;
}