*{
    margin: 0;
    padding: 0;
}

img{
    width: 20%;
    border: 1px solid black;
    padding: 2px;
    box-sizing: border-box;
}

main{
    display: flex;
    background: #e8cf3f;
}

.article{
    justify-content: center;
    width: 80%;
    border: solid;
    margin: 3px;
    text-align: center;
}


label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}
nav {
    background-color: rgba(53, 227, 6, 0.8);
}

ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style:none;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

li{
    color: black;
}

.resp{
    width: 10%;
    border: 1px solid black;
    padding: 2px;
    box-sizing: border-box;
    float: right;
}

footer{
    height: 50px;
    background: rgba(239, 7, 34, 0.77);
}