{% extends 'base/base.html.twig' %}

{% block title %}
    Liste des category
{% endblock title %}

{% block main %}
    {% for category in category %}
        {% if category.isPublished %}
            <article class="category">
                <div>
                    <a href="{{ path ('adminCategoryShow', {'id': category.id}) }}">Categorie
                        <h2>{{ category.title }}</h2>
                        <p>{{ category.createdAt | date('y-m-d') }}</p>
                    </a>
                </div>

                {% for article in category.articles %}
                    <p>{{ article.title }}</p>
                {% endfor %}
            </article>
        {% endif %}
    {% endfor %}
{% endblock main %}

{% block footer %}

{% endblock footer %}